- model_class = Consumer
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:priority)
      %th= model_class.human_attribute_name(:actor_id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:address)
      %th= model_class.human_attribute_name(:enabled)
      %th= model_class.human_attribute_name(:active)
      %th= model_class.human_attribute_name(:power)
      %th= model_class.human_attribute_name(:switch_interval)
      %th= model_class.human_attribute_name(:switched_at)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @consumers.each do |consumer|
      %tr
        %td= link_to consumer.id, consumer_path(consumer)
        %td= consumer.priority
        %td= consumer.actor_id
        %td= consumer.name
        %td= consumer.address
        %td= consumer.enabled
        %td= consumer.active
        %td= consumer.power
        %td= consumer.switch_interval
        %td= consumer.switched_at
        %td=l consumer.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_consumer_path(consumer), :class => 'btn btn-primary btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), consumer_path(consumer), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger btn-xs'

= link_to t('.new', :default => t("helpers.links.new")), new_consumer_path, :class => 'btn btn-primary'
