!!! 5
!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "SolarHome"
    = stylesheet_link_tag "darkly", :media => "all"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-inverse{role: "navigation"}
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "/"} SolarHome
      / Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav
          %li
            %a{href: '/consumers'} Verbraucher
          %li
            %a{href: '/actors'} Funker
          %li
            %a{href: '/stats'} Statistiken
          %li
            %a{href: '#'}
              Verbrauch:
              #consumed.badge  
          %li
            %a{href: '#'}
              Produktion:
              #produced.badge 
      / /.navbar-collapse
    .col-lg-offset-3.col-lg-6
      = yield
    = javascript_include_tag "darkly"
    = yield(:page_javascript) if content_for?(:page_javascript)
